@import "../../index.css";


main
{
    max-width: 1050px;
    margin: auto;
}

/* Classes */

.tituloH1
{
    margin-top: 36px;
    margin-bottom: 58px;
    font-size: 36px;
    text-align: center;
}

.alinhamentoTexto
{
    text-align: left;
}

.textoHome
{
    font-size: 24px;
    margin-bottom: 20px;
}

.textoHome2
{
    font-size: 14px;
    margin-bottom: 85px;
}

.alinhamentoCardFilme
{
    display: flex;
    justify-content: space-between;
}

.textoFilme
{
    font-size: 24px;
    margin-bottom: 20px;
}

.textoFilme2
{
    font-size: 14px;
    width: 400px;
}

.imgHomeFilme
{
    margin-bottom: 17px;
}

.textoCategoria
{
    font-size: 24px;
    margin-bottom: 20px;
}

.textoCategoria2
{
    font-size: 14px;
    width: 400px;
}

.imgHomeCategoria
{
    margin-bottom: 16.65px;
}