@import "../../index.css";


.alinhamentoModalGenero {
    display: flex;
    justify-content: center;
    background-color: white;
}

.corFundoGenero {
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0vh;
    background-color: black;
    opacity: 0.85;
}

.modalGenero {
    width: 900px;
    height: 449px;
    background: #fff;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    top: 31.4vh;
}

.alinhamentoExcluirModalGenero {
    width: 900px;
    height: 45px;
    background: #9BD2DE;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 30px 20px 20px;
}

.excluirModalGenero {
    background: transparent;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
    font-size: 35px;
    cursor: pointer;
}

.excluirModalGenero:hover {
    color: #000000
}

.cardTxtGenero {
    margin-bottom: 4.19vw;
}

.cardTxtGenero h1 {
    font-size: 40px;
    color: #000;
    width: 450px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4vw;
}

.AlinhamentoInputModal {
    display: flex;
    margin-top: 42px;
}

.inputModalGenero {

    height: 49px;
    font-size: 20px;
    padding: 5px 0px 0px 24px;
}

.AlinhamentoModalSalvar {
    margin-left: 20px;
}

.btnSalvarModalGenero {
    width: 120px;
    height: 49px;
    background-color: #F6511D;
    font-size: 20px;
    color: white;
    border: none;
    cursor: pointer;
}

.btnSalvarModalGenero:hover {
    color: #000000;
}

.footerModalGenero {
    width: 900px;
    background: #F6511D;
}

/* Aviso */

.vermelhoModalGenero {
    color: red;
}

/* Mostrar/Esconder */

.show {
    display: flex;
}

.hide {
    display: none;
}