@import "../../index.css";

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F6511D;
    height: 250px;
    margin-top: 80px;
}

.logoFooter {
    margin-bottom: 90px;
}

.textoFooter {
    margin-bottom: 90px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 40px;
}

.tituloFooter {
    color: #060606;
    text-transform: uppercase;
    font-size: 30px;
}

.subtituloFooter {
    color: #000;
    font-family: 'Rosarivo', serif;
    font-size: 18px;
}

.borda {
    margin-left: 50px;
    height: 200px;
    border-right: 1px solid white;
}

.rodape {
    margin-left: 45px;
    font-family: "Roboto";
    color: white;
    font-size: 18px;
}