@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rosarivo&display=swap');

*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body
{
  font-family: 'Roboto', sans-serif;
}

input::placeholder
{
  color: #4B2142;
}